
.colp {
    padding: 0px;
}

.container-fluid {
    z-index: 0;
    background-image: url('../imgs/annie-spratt.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100%;
}

#home-div {
    margin: 20px 0px 40px 0px;
    text-align: center;
}

#home {
    border: none;
    border-radius: 5px;
    background: lightblue;
    background: rgb(245, 199, 99, 0.8);
    padding: 10px;
    font-weight: bold;
}

.form {
    background-color: rgba(0,0,0, 0.4); 
    border-radius: 3px 3px 5px 5px; 
    box-shadow: 10px 10px 8px rgba(0,0,0, 0.2); 
}

label {
    width: 100%;
}

.box {
    padding: 20px 10px;
    margin: 10px 0px;
    background-color: rgba(0,0,0, 0.5); 
    box-shadow: 0px 10px 8px rgba(0,0,0, 0.2);  
    color: rgb(85, 178, 237);  
    border-radius: 5px;  
}

.top-box {
    margin: 0px 0px 10px 0px;
}

#fullname {
    margin-top: 50px;
}

#name {
    width: 70%;
}

#photo {
    width: 100%;
}

.question-box {
    display: inline;
    max-width: 250px;
    font-weight: bold;
}

.answer-box {
    display: inline;
    text-align: center;
}

span {
    margin: 5px 7px 0px 7px;
    color: white;
}

.submit {
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
    background: rgba(0,0,0, 0);  
}

#submit-btn {
    width: 50%;
    border: none;
    border-radius: 5px;
    background: rgb(245, 199, 99, 0.8);
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.2);  
    padding: 5px 0px;
    font-weight: bold;
}

#modal-box {
    display: none;
    z-index: 1;
    position: fixed;
    bottom: 60%;
    left: 20%;
    background: lightblue;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 60%;
    height: 30%;
}

.modal-content {
    background: lightblue;
    border: none;
    text-align: center;
}

#close-div {
    margin-left:auto; 
    margin-right:0;
}

#close {
    width: 25px;
    margin: 10px 10px 0px 0px;
}

#close:hover {
    color: lightgray;
    cursor: pointer;
}

#profilePic {
    width: 100%;
    height: auto;

}

#links {
    text-align: center;
    margin: 30px 0px;
}

#links a:hover {
    text-decoration: none;
}